/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/extra/openhab.htpasswd
/extra/mosquitto.conf
/extra/mysql_cleanup.sh
/html/map2.html
/bin/tvcheck.sh
/services/weather.cfg
/services/snmp.cfg
/services/mysql.cfg
/services/openhab.cfg
/services/pushover.cfg
/services/mqtt.cfg
/services/mqtt-persistence.cfg
/services/influxdb.cfg
/services/pebble.cfg
/items/all.items
/rules/*.rules
/sitemaps/default.sitemap
/things/zwave.things
/extra/node-sonos-api.json
